body{
    background-color: rgb(162, 205, 205);
}

a:link, a:visited{
    text-decoration: none;
}

h1,
h2 {
    color: rgb(52, 5, 5);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.container-img{
    text-align: center;
    margin-top: 50px;
}

.image-index{
    border: 5px solid black;
    width: 850px;
    height: auto;
}

figure,
img,
figcaption{
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.list-index{
    display: flex;
    justify-content: center;
}

.list-index li {
    list-style-type: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 35px;
    font-size: 30px;
}

.a-index{
    background-color: rgba(29, 181, 158, 0.548);
    color: firebrick;
    border: 2px dotted rgb(37, 12, 12);
    padding: 10px;
}

.a-index:hover{
    background-color: rgb(54, 139, 171);
}